<h1>Oficinas <small>Lista</small></h1>
<p><%= link_to "Nova Oficina", new_workshop_path, class: "btn btn-primary" %></p>

<div class="text-center">
  <p><%= page_entries_info @workshops %></p>
  <%= paginate @workshops %>
</div>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Created At</th>
    <th>Ver Mais</th>
    <th>Editar</th>
    <th>Deletar</th>
  </tr>

  <% @workshops.each do |workshop| %>
      <tr>
        <td><%= workshop.id %></td>
        <td><%= workshop.name %></td>
        <td><%= time_ago_in_words(workshop.created_at) %></td>
        <td><%= link_to "Detalhes", workshop_path(workshop), class: "btn btn-info" %></td>
        <td><%= link_to "Editar", edit_workshop_path(workshop), class: "btn btn-warning" %></td>
        <td><%= link_to "Deletar", workshop, :confirm => "Tem certeza que deseja excluir essa oficina?", :method => :delete, class: "btn btn-danger" %></td>
      </tr>
  <% end %>
</table>