<div class="row">
  <div class="col-sm-6">

    <p><%= link_to "Voltar", students_path, class: "btn btn-primary" %></p>

    <%= form_for @student do |f| %>

        <div class="form-group">
            <%= f.label :name %>
            <div class="row">
              <div class="col-sm-6">
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>
        </div>

        <div class="form-group">
          <%= f.label :age %>
          <div class="row">
            <div class="col-sm-6">
              <%= f.number_field :age, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :responsible %>
          <div class="row">
            <div class="col-sm-6">
              <%= f.text_field :responsible, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :profession_id %>
          <div class="row">
            <div class="col-sm-6">
              <%= f.collection_select :profession_id, @professions, :id, :name, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :neighborhood %>
          <div class="row">
            <div class="col-sm-6">
              <%= f.text_field :neighborhood, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :street %>
          <div class="row">
            <div class="col-sm-6">
              <%= f.text_field :street, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit "Salvar", class: "btn btn-success" %>
        </div>

    <% end %>

  </div>
</div>
