<h1>Alunos <small>Lista</small></h1>
<p><%= link_to "Novo Aluno", new_student_path, class: "btn btn-primary" %></p>

<h3>Relatórios</h3>
<p>
  <%= link_to "Relatório Geral de Alunos", search_general_student_path, class: "btn btn-primary btn-sm" %>
</p>


<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Idade</th>
    <th>Logradouro</th>
    <th>Created At</th>
    <th>Ver Mais</th>
    <th>Editar</th>
    <th>Deletar</th>
  </tr>

  <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.neighborhood %></td>
        <td><%= time_ago_in_words(student.created_at) %></td>
        <td><%= link_to "Detalhes", student_path(student), class: "btn btn-info" %></td>
        <td><%= link_to "Editar", edit_student_path(student), class: "btn btn-warning" %></td>
        <td><%= link_to "Deletar", student, :confirm => "Tem certeza que deseja excluir esse estudante?", :method => :delete, class: "btn btn-danger" %></td>
      </tr>
  <% end %>
</table>