<h1>Observações <small>Lista</small></h1>
<p><%= link_to "Nova Observação", new_book_observation_path, class: "btn btn-primary" %></p>

<div class="text-center">
  <p><%= page_entries_info @observations %></p>
  <%= paginate @observations %>
</div>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Created At</th>
    <th>Ver Mais</th>
    <th>Editar</th>
    <th>Deletar</th>
  </tr>

  <% @observations.each do |observation| %>
      <tr>
        <td><%= observation.id %></td>
        <td><%= observation.name %></td>
        <td><%= time_ago_in_words(observation.created_at) %></td>
        <td><%= link_to "Detalhes", observation, class: "btn btn-info" %></td>
        <td><%= link_to "Editar", edit_book_observation_path(observation), class: "btn btn-warning" %></td>
        <td><%= link_to "Deletar", observation, :confirm => "Tem certeza que deseja excluir essa observação?", :method => :delete, class: "btn btn-danger" %></td>
      </tr>
  <% end %>
</table>
