<h1>Detalhes - Livro</h1>

<p>
  Ano: <%= @book.yearbook %>
</p>

<p>
  Turno: <%= @book.turn %>
</p>

<p>
  Turma: <%= @book.classname %>
</p>

<p>
  Oficina: <%= @book.workshop.name %>
</p>

<p>
  Curso:
  <% @lesson_books.each do |lb| %>
    <%= lb.lesson.name %>
  <% end %>
</p>

<p>
  Ano: <%= @book.year.name %>
</p>

<p>
  <h6>Alunos</h6>
  <% @student_books.each do |sb| %>
    <p>
    <%= sb.student.name %>
    <% if !sb.book_observation.nil? %>
        ( <%= sb.book_observation.name  %> )
    <% end %>
    <%= link_to "Atualizar situação", student_observation_path(sb), class: "btn btn-info btn-xs" %>
    </p>
  <% end %>
</p>

<p>
  <%= link_to "Voltar", books_path, class: "btn btn-primary" %>
</p>