<h1>Cursos <small>Lista</small></h1>
<p><%= link_to "Novo Curso", new_lesson_path, class: "btn btn-primary" %></p>

<div class="text-center">
  <p><%= page_entries_info @lessons %></p>
  <%= paginate @lessons %>
</div>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Created At</th>
    <th>Ver Mais</th>
    <th>Editar</th>
    <th>Deletar</th>
  </tr>

  <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.id %></td>
        <td><%= lesson.name %></td>
        <td><%= time_ago_in_words(lesson.created_at) %></td>
        <td><%= link_to "Detalhes", lesson, class: "btn btn-info" %></td>
        <td><%= link_to "Editar", edit_lesson_path(lesson), class: "btn btn-warning" %></td>
        <td><%= link_to "Deletar", lesson, :confirm => "Tem certeza que deseja excluir esse curso?", :method => :delete, class: "btn btn-danger" %></td>
      </tr>
  <% end %>
</table>