<h1>Anos <small>Lista</small></h1>
<p><%= link_to "Novo Ano", new_year_path, class: "btn btn-primary" %></p>

<div class="text-center">
  <p><%= page_entries_info @years %></p>
  <%= paginate @years %>
</div>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Created At</th>
    <th>Ver Mais</th>
    <th>Editar</th>
    <th>Deletar</th>
  </tr>

  <% @years.each do |year| %>
      <tr>
        <td><%= year.id %></td>
        <td><%= year.name %></td>
        <td><%= time_ago_in_words(year.created_at) %></td>
        <td><%= link_to "Detalhes", year, class: "btn btn-info" %></td>
        <td><%= link_to "Editar", edit_year_path(year), class: "btn btn-warning" %></td>
        <td><%= link_to "Deletar", year, :confirm => "Tem certeza que deseja excluir esse ano?", :method => :delete, class: "btn btn-danger" %></td>
      </tr>
  <% end %>
</table>